@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  background: #1e684f;
  font-family: 'Montserrat';
  color: #1E1E1F;
}
#root {
  position: relative;
  min-height: 100vh;
}